body
{
    text-align: center;
    text-decoration: double;
    background-color:aquamarine;
}
#button{
    background: fixed;
    text-decoration: solid;
}
input{
    margin-top: 2px;
    background-color: rgb(243, 234, 236);
}
:last-of-type{
    margin-bottom: 2px;
}
title{
    background-color: black;
}
h2{
    background-position-x: right;
}
p{
    background-origin: var();
}
